name: my cicd

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    
jobs:
  build:
    runs-on: 
      - ubuntu-latest
    steps:
      - name: Get the code
        uses: actions/checkout@v3
      - name: actions/setup-java
        uses: actions/setup-java@v3
        with: 
          java-version: '17'
          distribution: 'temurin'
          cache:  maven

      - name: Build maven
        run: mvn -B package --file pom.xml

      # - name: Uploading artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: BoardGame
      #     path: target/*.jar
      -  name: Upload artifact to Nexus
         env:
           NEXUS_URL: ${{ secrets.NEXUS_URL }}
           NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
           NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
         run: |
           curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file target/*.jar $NEXUS_URL/repository/Raw-File/

      - name: Trivy FS scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: table
          output: 'trivy-fs-report.html'
      
      - name: Sonar scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      
      - name: Sonar Quality Gate 
        uses: sonarsource/sonarqube-quality-gate-action@master
        timeout-minutes:  5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up build docker build
        uses: docker/setup-buildx-action@v2

      - name: login to the docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWD }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: shashank30mishra/boardgame:latest

      - name: Trivy Image scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: 'shashank30mishra/boardgame:latest'
          format: table
          output: 'trivy-image-report.html'
        env:
          TRIVY_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          TRIVY_PASSWORD: ${{ secrets.DOCKERHUB_PASSWD }}
      
      # - name: Upload Trivy scan results to Nexus
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: trivy-fs-report
      #     path: '${{ github.workspace }}/trivy-*-report.html'
      #     retention-days: 2

      -  name: Upload artifact to Nexus
         env:
           NEXUS_URL: ${{ secrets.NEXUS_URL }}
           NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
           NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
         run: |
           curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file trivy-fs-report.html $NEXUS_URL/repository/Raw-File/trivy-fs-report.html
           curl -u $NEXUS_USERNAME:$NEXUS_PASSWORD --upload-file trivy-image-report.html $NEXUS_URL/repository/Raw-File/trivy-image-report.html

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Get the code
        uses: actions/checkout@v3
        
      - name: Setting Up Kubectl
        uses: actions-hub/kubectl@master
        env:
          KUBE_HOST: ${{ secrets.KUBE_HOST }}
          KUBE_TOKEN: ${{ secrets.KUBE_TOKEN }}

      - name: Deploying on Kubernetes
        run: |
          kubectl apply -f deployment-service.yaml -n webapps
          kubectl get pods -n webapps
          kubectl get svc -n webapps



